/* Large Screen */ 

@media only screen and (min-width: 1000px) {
	.project-links {
		display: block;
		float: left;
		width: 35%;

		text-align: left;
		display: block;
		margin-left: 0;
		margin-right: 0;
		padding: 15px 0px;
	}

	
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	/*nav > ul {
		height: 40px;
		text-align: center;
	}
*/
	nav > ul > li {
		/*width: 100vw;*/
		display: inline-block;
		float: left;
		
		text-align: left;
		width: 10vw;
		/*vertical-align: top;
		text-align: center;
		border: 0.05px solid black;*/
	}

	nav ul li:hover ul li{
		display: inline-block;
		/*width: 100vw;*/
		position: relative;
	}

	nav ul li ul { 
    	display: none;
    	background: #333;
	}

	nav ul li a { 
    	color: white;
    	padding: 0px; 
    	line-height: 40px;
    	text-decoration: none;
    	height: 100px;
    	line-height: 100px;
    	display: block;
    	text-align: center;
	}

	nav ul li:hover a{
    	background-color: white;
    	display: block;

	}

	nav ul li:hover {
    	color: black;
	}

	nav ul li ul li { 
   		text-align: left;
	}




	.current-page {
		background-color:black;	
		width: 10vw;
		font-weight: bold;


	}

	.project-link a p{
		text-decoration: none;
		font-size: 5em;
	}

	.project-grid {
		display: inline-grid;
		grid-gap: 50px 50px;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		width: 100vw;
		/*height: auto;*/
		margin: 0;
		padding: 0;

	}

	.graphic-design {
		grid-column-start: 1;
		/*grid-column-end: 1;*/
		grid-row-start: 1;
		margin-top: 20px;
		
	}

	.foodmapping {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		margin-top: 20px;
		
	}

	.healthanalysis {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		margin-bottom:20px;
		
	}

	.environmentalanalysis {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		margin-bottom: 20px;
		
	}


	/*.botanical {
		grid-column-start: 1;
		grid-column-end: 3;

	}*/


/* Medium Screen */

@media only screen and (min-width: 650px) and (max-width: 999px) {}