
.rasp {
	padding-top: 400px;
}

#main-content-home{
	padding: 120px 0px 60px 0px;
}

.main-content-home h1{
	color: #c9a4a3;
	font-weight: 400;
}

#aboutme {
	/*background-color: #c9a4a3;*/
	padding: 20px 0px 100px 0px;
	margin-top: 80px;
}

html {
	background-color: white;

}


/*#name{
	padding
}
*/

h2.design-title{
	padding: 50px 0px;
}

/*nav {
	box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
}*/

.intro{
	padding: 25px;
}

#main-content-graphic-design h2 {
	font-weight: 400;
	font-size: 1.5em;
}

.graphic {color:white;}

i{
	color:white;
	padding: 10px;
	font-size: 100px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	padding: 40px 0px;
	font-weight: 200;
	text-align: center;
	font-size: 2.5em;
}
h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 200;
	font-size: 1.5em;
}
p {
	font-family: 'Roboto', sans-serif;
	/*text-align: center;*/
	font-weight: 200;
	font-size: 1.5em;
}

h3 {
	font-size: 2em;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	text-align: center;
	padding: 0px 10px 30px 10px;
}

#name{
	font-size: 3em;
}

#aboutme p{
	padding: 0px 30px 30px 30px;

}

#form {
	padding: 20px 50px 20px 50px;
	font-weight: 300;

}

#logo {
	justify-content: center;
	padding: 0px;
}

form{
	padding: 0px 0px 0px 50px;
	background: url("img/IMG_0568.jpg") no-repeat center;
}

nav {
	display: inline-block;
}
.nav-bar {
	overflow: hidden;
	background-color: #c9a4a3;
	font-family: 'Roboto', sans-serif;
	width: 100vw;
}

/*.project-container img {
	width: 50%;
	display: block;
	float: left;
	margin: auto;

}
.project-container img.botanical{
	width: 33.3%;
	padding: 5px;
	padding-bottom: 50px;
	height: 600px;
}

.project-container img.bio{
	width: 33.3%;
	/*padding: 5px;
	padding-bottom: 50px;
	height: 400px;
}*/


/*#raspberry {
	float:left;
}

#infographic h2 {
	padding-top: 200px
}*/

.nav-bar li {
	/*color:white;*/
	text-align: center;
}
.nav-bar li a{
	/*float: left;*/
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

footer, a, i {
	font-size: 3em;
	padding: 5px  20px;
	/*float: left;*/
	/*padding: 0em 3em;*/
}

.nav-bar-buttons {
    width: 100vw;  
    list-style-type: none;
}


/*.current-page {
	background-color:black;	
	font-weight: bold;

}*/


footer {
	background-color: gray;
	font-size: .85em;
	text-align: center;
	position: absolute;
	width: 100vw;
	display: block;
	margin-top: 50px;
	margin-bottom: 0px;
}

#projectpage-footer {
	margin-top: 0;
}

footer p {
	padding: 10px;
}

.homeimage {
	height: 700px;
	width: 100vw;
	padding-top: 150px;
	padding-bottom: 0px;

}

/*i {
	color: black;
}*/

.project-link {
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
}


.formText {
	width: 65vw;
	height: 25vh;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav > ul {
	/*height: 40px;*/
	text-align: center;
}

nav > ul > li {
	width: 100vw;
	display: inline-block;
	vertical-align: top;
	text-align: center;

	/*border: 0.05px solid black*/
}

.project-desc {
	font-weight: 300;
	padding: 50px 0px;
}
	.map {
	display: block; 
	width: 80%;
	padding: 50px 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}




.food-desc {
	padding: 0px 50px 10px 50px;
}

nav ul list-style:hover ul {
	display: inline-block;
	width: 100vw;
}

nav ul li ul { 
    display: none;
    background: #333;
}

nav ul li a { 
    color: white;
    padding: 10px; 
    line-height: 40px;
    text-decoration: none;
    height: 100px;
    line-height: 100px;
}

nav ul li:hover {
    background-color: white;
}

nav ul li:hover a{
    color: black;
}

nav ul li ul li { 
    text-align: left;
}

/*nav ul li ul li a { /* all the sub-menu anchor tags */
    /*height: 45px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
}*/

.current-page {
	background-color:black;	
	width: 100vw;
	font-weight: bold;
	color: white;

}

li.current-page a{
	color: white;
}



.project-link{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0px;

}

.design-title {
		/*color: #c9a4a3;*/
		/*padding: 5px;*/
		background-color: #D7D5D5;
		margin: 50px 0px;

	}



	.gd {
		margin: 100px 0px;
	}

#name{
	size: 20em;
	padding: 20px 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.project-container img {
	width: 80%;
	display: block;
	/*float: left;*/
	margin: auto;

	}

.project-container img.bio {
	

}


